[user]
  name = "Thomas Boerger"
  email = "tboerger@tbpro.de"

[github]
  user = tboerger

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[push]
  default = simple

[alias]
  ci = commit
  di = diff
  st = status
  co = checkout
  br = branch
  cat = cat-file -p

  m = checkout master
  d = checkout develop

  sma = submodule add
  smi = submodule init
  smu = submodule update --init --recursive
  
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
