[core]
	quotepath = false

[core]
	excludesfile = ~/.gitignore

[color]
	ui = auto
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[merge]
	log = true

[diff]
	algorithm = patience

[pull]
	rebase = true

[push]
	default = simple

[format]
	signoff = true

[alias]
	ci = commit
	di = diff
	st = status
	co = checkout
	br = branch
	pu = push
	pl = pull
	cat = cat-file -p
	rc = rebase --continue
	rs = rebase --skip
	unstage = reset HEAD
	uncommit = reset --soft HEAD^

	stag = tag -s

	tags = tag -l
	branches = branch -a
	remotes = remote -v

	fap = fetch --all --prune

	m = checkout master
	d = checkout develop

	sma = submodule add
	smi = submodule init
	smu = submodule update --init --recursive

	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

	recent-branches = !git for-each-ref --count=5 --sort=-committerdate refs/heads/ --format='%(refname:short)'

	assume = !git update-index --assume-unchanged
	unassume = !git update-index --no-assume-unchanged
	assumed = !git ls-files -v | grep ^h | cut -c 3-

	snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
	snapshots = !git stash list --grep snapshot

[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"

[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f

[include]
	path = ~/.gitconfig.local
