---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: general

"on":
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  general:
    runs-on: macos-latest

    steps:
      - name: Clone source
        uses: actions/checkout@v6

...
